.underlined {
  text-decoration: underline;
}

.inline {
  display: inline !important;
}

.extralight {
  font-weight: $extraLightFont !important;
}
.light {
  font-weight: $lightFont !important;
}
.regular {
  font-weight: $regularFont !important;
}
.semibold {
  font-weight: $semiBoldFont !important;
}
