.xs {
  margin-bottom: $xs;
}
.sm {
  margin-bottom: $sm;
}
.md {
  margin-bottom: $md;
}
.lg {
  margin-bottom: $lg;
}
.xl {
  margin-bottom: $xl;
}
.xxl {
  margin-bottom: $xxl;
}

.paddingXs {
  padding-left: $xs;
  padding-right: $xs;
}
.paddingSm {
  padding-left: $sm;
  padding-right: $sm;
}
.paddingMd {
  padding-left: $md;
  padding-right: $md;
}
.paddingLg {
  padding-left: $lg;
  padding-right: $lg;
}
.paddingXl {
  padding-left: $xl;
  padding-right: $xl;
}
.paddingXxl {
  padding-left: $xxl;
  padding-right: $xxl;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.grow {
  height: 100%;
  flex-grow: 1;
}
.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
}
.overlap { 
  display: grid;
  height: 100vh;
}


@define-mixin offset $size {
  .$(size)Offset2 {
    margin-left: 8.333%;
    margin-right: 8.333%;
  }

  .$(size)Offset4 {
    margin-left: 16.667%;
    margin-right:16.667%;
  }

  .$(size)Offset6 {
    margin-left: 25%;
    margin-right: 25%;
  }

  .$(size)Offset8 {
    margin-left: 33.333%;
    margin-right: 33.333%;
  }

  .$(size)Offset10 {
    margin-left: 41.667%;
    margin-right: 41.667%;
  }
}

@media only screen and (min-width: $(screenXs)px) {
  @mixin offset xs;
}

@media only screen and (min-width: $(screenSm)px) {
  @mixin offset sm;
}

@media only screen and (min-width: $(screenMd)px) {
  @mixin offset md;
}
