.xs {
  margin-bottom: $xs;
}

.sm {
  margin-bottom: $sm;
}

.md {
  margin-bottom: $md;
}

.lg {
  margin-bottom: $lg;
}

.xl {
  margin-bottom: $xl;
}

.paddingXs {
  padding-top: $xs;
}

.paddingSm {
  padding-top: $sm;
}

.paddingMd {
  padding-top: $md;
}

.paddingLg {
  padding-top: $lg;
}

.paddingXl {
  padding-top: $xl;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
